@{
    Layout = "_Layout";
}  

    <a asp-controller="Account" asp-action="Login" class="hover-btn-new"><span>Student</span></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    

    <a asp-controller="Admin" asp-action="AdminLogin" class="hover-btn-new"><span>Trainer</span></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    

