@{
    Layout = "_Layout";
}

   

    <a asp-controller="Home" asp-action="Stdent" class="hover-btn-new"><span>Student</span></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a asp-controller="Home" asp-action="About" class="hover-btn-new"><span>Read More</span></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a asp-controller="Admin" asp-action="AdminLogin" class="hover-btn-new"><span>Trainer</span></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    

