
<nav class="pcoded-navbar  ">
	<div class="navbar-wrapper  ">
		<div class="navbar-content scroll-div ">

			<div class="">
				<div class="main-menu-header">
					<img class="img-radius" src="~/admintheme/assets/images/user/avatar-2.jpg" alt="User-Profile-Image">
					<div class="user-details">
						<span>Petikoy Veterinary</span>
						<div id="more-details">Hızlı Kargo Şirketi<i class="fa fa-chevron-down m-l-5"></i></div>
					</div>
				</div>
				<div class="collapse" id="nav-user-link">
					<ul class="list-unstyled">
						<li class="list-group-item"><a href="user-profile.html"><i class="feather icon-user m-r-5"></i>Profili Görüntüle</a></li>
						<li class="list-group-item"><a href="#!"><i class="feather icon-settings m-r-5"></i>Ayarlar</a></li>
						<li class="list-group-item"><a href="auth-normal-sign-in.html"><i class="feather icon-log-out m-r-5"></i>Çıkış Yap</a></li>
					</ul>
				</div>
			</div>

			<ul class="nav pcoded-inner-navbar ">
				<li class="nav-item pcoded-menu-caption">
					<label>Şube İşlemleri</label>
				</li>
				<li class="nav-item">
					<a href="index.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
				</li>
				<li class="nav-item">
					<a type="button" asp-controller="Account" asp-action="Login" class="nav-link "><span class="pcoded-micon"><i class="feather icon-plus"></i></span><span class="pcoded-mtext">All educations</span></a>
				</li>
				<li class="nav-item">
					<a type="button" asp-controller="Account" asp-action="Login" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">All Educations</span></a>
				</li>
							
								
				

			<div class="card text-center">
				<div class="card-block">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<i class="feather icon-sunset f-40"></i>
					<h6 class="mt-3">Kargomento Premium abonesi olun.</h6>
					<p>Herhangi bir desteğe ihtiyaç duyuyorsanız lütfen e-postayla bizimle iletişime geçin.</p>
					<a href="https://1.envato.market/PgJNQ" target="_blank" class="btn btn-primary btn-sm text-white m-0">Güncelle</a>
				</div>
			</div>

		</div>
	</div>
</nav>
<!-- [ navigation menu ] end -->